body{
    background-color:lightgray
  }
  
  .nav{
    height:100px;
    border:solid black 1px;
  }
  .nav div{
    height:90px;
    width:190px;
    display:inline-block;
    padding:5px;
    background-color:gray;
    color:white;
    text-align:center;
  }
  
  .sidenav{
    height:800px;
    width:29%;
    float:left;
    border:solid black 1px;
  }
  
  .main{
    height:800px;
    width:71%;
    float:left;
  }
  
  .stats{
    text: bold;
    padding: 10px;
  }